<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre Solicitante</th>
        <th>Área</th>
        <th>Tipo de solicitud</th>
        <th>Descripción</th>
        <th>Respuesta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iterar sobre las solicitudes -->
       <td></td>
      <tr *ngFor="let solicitud of solicitude; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{ solicitud.fullName }}</td>
        <td>{{ solicitud.area }}</td>
        <td>{{ solicitud.typeDescription }}</td>
        <td>{{ solicitud.description }}</td>
        <td>{{ solicitud.respuestaIA }}</td>
        <th>
          <!-- Actualizar respuesta de solicitud -->
           <button (click)="abrirModal(solicitud)">
            Actualizar Respuesta
            <i class="fa fa-edit"></i>
           </button>



        </th>
      </tr>

    </tbody>
  </table>

  <app-modal
    [descripcion]="solicitudSeleccionada?.description ?? ''"
    [respuestaIA]="solicitudSeleccionada?.respuestaIA ?? ''"
    [visible]="modalVisible"
    (close)="cerrarModal()"
    (save)="guardarRespuesta($event)"
  ></app-modal>

</div>
