<div class="overflow-x-auto w-full">
  <table class="table table-zebra w-full min-w-max">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre Solicitante</th>
        <th>Área</th>
        <th>Tipo de solicitud</th>
        <th>Descripción</th>
        <th>Respuesta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of solicitude; let i = index">
        <th>{{ i + 1 }}</th>
        <td class="whitespace-normal break-words max-w-xs">{{ solicitud.fullName }}</td>
        <td>{{ solicitud.area }}</td>
        <td class="whitespace-normal break-words max-w-xs">{{ solicitud.typeDescription }}</td>
        <td class="whitespace-normal break-words max-w-xs">{{ solicitud.description }}</td>
        <td class="whitespace-normal break-words max-w-xs">{{ solicitud.respuestaIA }}</td>
        <td>
          <button class="btn btn-sm btn-primary flex items-center gap-2" (click)="abrirModal(solicitud)">
            <i class="fa fa-edit"></i>
            <span class="hidden sm:inline">Actualizar</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-modal [descripcion]="solicitudSeleccionada?.description ?? ''"
    [respuestaIA]="solicitudSeleccionada?.respuestaIA ?? ''" [visible]="modalVisible" (close)="cerrarModal()"
    (save)="guardarRespuesta($event)"></app-modal>
</div>
